matplotlib
numpy
pandas
seaborn
torch
psutil~=7.0.0
tensorflow
keras
visualkeras
scikit-learn
tensorflow.keras
flask
python-dotenv
pyyaml
scikit-image
fastapi
uvicorn
ollama
openai
google.generativeai
llama-cpp-python
transformers
accelerate
sentencepiece
gunicorn
pyinstaller
qdrant-client
sentence-transformers
stanza
llama_index
llama_index.embeddings.huggingface
tf-keras
selenium
langdetect
